// Custom Styling

@mixin bg-center() {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
	font-size: 34px;
	@media (min-width: $screen-sm-min) {
		font-size: 41px;
	}
}

h2 {
	font-size: 28px;
	@media (min-width: $screen-sm-min) {
		font-size: 34px;
	}
}

h3 {
	font-size: 22px;
	@media (min-width: $screen-sm-min) {
		font-size: 28px;
	}
}

blockquote {
	font-size: 16px;
	font-style: italic;
	border-left: 3px solid $text-color;
	@media (min-width: $screen-sm-min) {
		font-size: 18px;
	}
}

body {
	font-size: 15px;
	@media (min-width: $screen-sm-min) {
		font-size: 16px;
	}
}


img {
	max-width: 100%;
}

.btn {
	border: 0;
	padding: 6px 30px;
}

.link-spanner {
	position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
// Header
.navbar-default {
	border: 0;
	background: $gray;
	transition: background 200ms linear, box-shadow 200ms;
	font-weight: 700;
	min-height: 77px;
	@media (min-width: $screen-sm-min) {
		min-height: 90px;
		background-color: transparent;
		background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	}
	.navbar-brand {
		padding: 10px 15px;
		height: 77px;
		@media (min-width: $screen-sm-min) {
			height: 90px;
		}
		img {
			width: 230px;
			@media (min-width: $screen-sm-min) {
				width: 280px;
			}
		}
	}
	.navbar-collapse {
		text-align: center;
		@media (min-width: $screen-sm-min) {
			float: right;
			text-align: left;
		}
	}
	&.scrolled {
		background: $gray;
		box-shadow: 0 0px 30px 0 rgba(0,0,0,0.2)
	}
	.navbar-toggle {
		background-color: $gray-dark;
		border: none;
		margin-top: 22px;
		margin-bottom: 22px;
		&:hover, &:focus {
			background-color: $gray-dark;
		}
		.icon-bar {
			background-color: $text-color;
		}
	}
}

// Hero
.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	width: 100%;
	position: relative;
	padding: 0 25px;
	@include bg-center();
	@media (min-width: $screen-sm-min) {
		padding: 0;
		height: 700px;
	}
	img {
		max-height: 380px;
		z-index: 1;
		max-width: 240px;
    margin-top: 50px;
    @media (min-width: $screen-sm-min) {
    	margin-top: 0;
    	max-width: 100%;
    }
	}
	.hero-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    z-index: 0;
    ul {
    	height: 100%;
  		width: 100%;
    	li {
    		display: block;
    		position: absolute;
    		top: 0;
    		left: 0;
    		height: 100%;    		
    		width: 100%;
				@include bg-center();
				opacity: 0;
				transition: opacity 500ms ease;
				&.active {
					opacity: 1;
				}
    	}
    }
  }
}

@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

// Page 
.page-header {
	position: relative;
	border: 0;
	height: 380px;
	margin: 0;
	text-align: center;
	display: flex;
	align-items: center;
	@include bg-center();
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(40, 40, 40, 0.5);
	}
	.container {
		position: relative;
	}
	h1 {
    margin-top: 77px;
    @media (min-width: $screen-sm-min) {
    	margin-top: 40px;
    }
	}
}

.page-intro {
	background-color: $gray;
	padding: 60px 0;
	@media (min-width: $screen-sm-min) {
		padding: 80px 0;
	}
	p {
		font-size: 18px;
		font-weight: 300;
		text-align: center;
		margin: 0;
		@media (min-width: $screen-sm-min) {
			font-size: 20px;
		}
	}
}

.page-content {
	padding: 50px 0;
}

.right-cta {
	position: relative;
	.wrapper {
		@media (min-width: $screen-sm-min) {
				display: flex;
			align-items: center;
		}
		.content {
			flex: 1;
			margin: 40px 15px;
			h1 {
				margin-top: 0;
			}
			@media (min-width: $screen-sm-min) {
				margin: 0 100px;
			}
		}
		.image {
			min-height: 500px;
			flex: 0 1 33.33%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			@include bg-center();
			h3 {
				margin-top: 0;
			}
		}
	}
}

.small-gallery {
	background-color: $gray;
	img {
		height: 100%;
	}
	.intro {
		padding: 50px 0;
		max-width: 800px;
		@media (min-width: $screen-sm-min) {
			padding: 60px 0;
		}
		h2 {
			margin-top: 0;
		}
		p {
			margin-bottom: 0;
		}
	}
	.gallery-slider {
		margin-bottom: 0;
		.slick-prev {
			left: 30px;
		}
		.slick-next {
			right: 30px;
		}
	}
}

.swipebox {
	display: block;
	position: relative;
	&:after {
		content: '\f065';
		font-family: 'fontawesome';
		color: #fff;
		font-size: 50px;
		line-height: 1;
		position: absolute;
		background-color: rgba(0, 155, 57, 0.7);
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: opacity 200ms;
	}
	&:hover {
		&:after {
			opacity: 1;
		}
	}
}

.slick-slide {
	&:focus {
		outline: none;
	}
}

.slick-next,
.slick-prev {
	width: 30px;
	height: 65px;
	opacity: 0.8;
	z-index: 1;
	&:before {
		content: '';
		display: block;
		background-image: url('../images/arrow.png');
		background-repeat: no-repeat;
		width: 30px;
		height: 65px;
		background-size: 30px;
		opacity: 0.8;
	}
	&:hover {
		&:before {
			opacity: 1;
		}
	}
}

.slick-next {
	&:before {
		transform: rotate(180deg);
	}
}

.half-carousel {
	.intro {
		padding: 50px 0;
		max-width: 800px;
		@media (min-width: $screen-sm-min) {
			padding: 60px 0;
		}
		h2 {
			margin-top: 0;
		}
		p {
			margin-bottom: 0;
		}
	}
	.half-slides {
		margin-bottom: 0;
		.slick-prev {
			left: 30px;
			top: 150px;
			@media (min-width: $screen-sm-min) {
				top: 50%;
			}
		}
		.slick-next {
			right: 30px;
			top: 150px;
			@media (min-width: $screen-sm-min) {
				top: 50%;
			}
		}
		.slide {
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			.content {
				flex: 0 0 100%;
				min-height: 300px;
				@media (min-width: $screen-sm-min) {
					flex: 0 0 50%;
				}
				display: flex;
				flex-direction: column;
		    justify-content: center;
				padding: 0 100px;
				background-color: $gray;
			}
			.image {
				flex: 0 0 100%;
				@media (min-width: $screen-sm-min) {
					flex: 0 0 50%;
				}
				img {
					height: 100%;
				}
			}
		}
	}
}

.divider {
	background-color: $gray;
	@include bg-center();
	text-align: center;
	padding: 120px 0;
	h2 {
		margin-top: 0;
	}
}

.submenu {
	text-align: center;
	@media (min-width: $screen-sm-min) {
		background-color: $gray;
		text-align: left;
	}
	.welcome {
		margin: 20px 0px;
		@media (min-width: $screen-sm-min) {
			float: left;
		}
		.name {
			font-weight: 700;
		}
	}
	nav {
		@media (min-width: $screen-sm-min) {
			float: right;
		}
		#menu-client-menu,
		#menu-contractor-menu {
			background-color: $gray;
			margin: 0 -15px;
			padding: 10px 0;
			@media (min-width: $screen-sm-min) {
				background-color: transparent;
				margin: 0;
				padding: 0;
			}
			li {
				font-weight: 700;
				@media (min-width: $screen-sm-min) {
					display: inline-block;
				}
				a {
					color: $text-color;
			    padding: 7px 0px;
			    @media (min-width: $screen-sm-min) {
						padding: 20px 15px;
					}
					&:hover, &:focus {
						background-color: transparent;
						color: #fff;
					}
				}
			}
		}
	}
}

// Login

.form-control {
	box-shadow: none;
	border: 0;
	border-bottom: 2px solid $gray;
	font-size: 20px;
	font-weight: 300;
	padding: 12px 0;
	transition: border-bottom 200ms;
	&:focus {
		box-shadow: none;
		border: 0;
		border-bottom: 2px solid $text-color;
	}
}

select.form-control {
	background-color: $gray;
}

.wpum-login-form {
	background-color: $gray;
	padding: 40px;
	max-width: 450px;
	margin: 0 auto;
	form {
		.login-username,
		.login-password {
			border: 0;
			padding: 0;
			label {
				display: none;
			}
			input {
				@extend .form-control;
				border-bottom: 2px solid $gray-dark;
				width: 100%;
			}
		}
		.login-remember {
			display: none;
		}
		.login-submit {
			text-align: center;
			margin: 30px 0 0 0;
			input[type="submit"] {
				@extend .btn;
				@extend .btn-primary;
			}
		}
	}
}

.page-template-template-login {
	.page-content {
		padding-bottom: 0;
		text-align: center;
		.page-title {
			&:after {
				content: '';
				width: 140px;
				height: 1px;
				margin: 0 auto;
				background-color: $text-color;
				display: block;
				margin-top: 15px;
			}
		}
		.login-description {
			margin: 50px 0;
		}
		.login-details {
			max-width: 450px;
			margin: 30px auto 0;
		}
	}
}

.contractor-login {
	background-color: $gray;
	padding: 100px 0;
	margin-top: 100px;
	h3 {
		@extend h2;
		text-align: center;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.wpum-login-form {
		background-color: $gray-dark;
		form {
			.login-username,
			.login-password {
				input {
					border-bottom: 2px solid $gray;
					&:focus {
						border-bottom: 2px solid $text-color;
					}
				}
			}
		}
	}
}

.wpum-registration-form-wrapper {
	background-color: $gray;
	padding: 30px;
	label {
		margin: 10px 0 0 0;
	}
	input,
	textarea {
		@extend .form-control;
		border-bottom: 2px solid $gray-dark;
	}
	.fieldset-comments {
		display: none;
	}
	.fieldset-role {
		margin-bottom: 20px;
		select {
			@extend .form-control;
			background-color: $gray-dark;
			border-bottom: 0;
			border-radius: 0;
			&:focus {
				border-bottom: 0;
			}
		}
	}
	.button {
		@extend .btn;
		@extend .btn-primary;
	}
}

// Gallery
.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 60px 0;
	.gallery-item {
		flex: 0 0 50%;
		@media (min-width: $screen-sm-min) {
			flex: 0 0 33.33%;
		}
	}
}

// Private Page
.page-template-template-client,
.page-template-template-contractor {
	.page-title {
		text-align: center;
		@extend h1;
		margin: 50px 0;
		&:after {
			content: '';
			width: 140px;
			height: 1px;
			margin: 0 auto;
			background-color: $text-color;
			display: block;
			margin-top: 15px;
		}
	}
	.page-intro {
		background-color: transparent;
		padding: 0 0 50px 0;
	}
	.page-content {
		padding-top: 0;
	}
}

// Work Gallery
.work-gallery {
	@media (min-width: $screen-sm-min) {
		display: flex;
		flex-wrap: wrap;
	}
	.work-gallery-item {
		flex: 0 0 33.33%;
		position: relative;
		img {
			transition: filter 200ms ease;
			transition: -webkit-filter 200ms ease;
			height: 100%;
		}
		.item-content-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 30px;
			display: flex;
			align-items: center;
			background-color: rgba(0,0,0,0.4);
			transition: background-color 200ms ease;
			.item-content {
				text-align: center;
				p {
					margin: 0;
					max-height: 0;
					overflow: hidden;
					opacity: 0;
					transition: max-height 200ms ease, opacity 200ms ease;
				}
			}
		}
		&:hover {
			img {
				filter: grayscale(1);
			}
			.item-content-wrapper {
				background-color: rgba(0,95,35,0.5);
				.item-content {
					p {
						max-height: 100px;
						opacity: 1;
					}
				}
			}
		}
	}
}

.work-title {
	padding-top: 60px;
	padding-bottom: 60px;
	h2 {
		margin-top: 0;
	}
	p {
		margin-bottom: 0;
	}
}

// Forms
.ninja-forms-required-items {
	display: none;
}

// Accordion

#accordion {
	.panel {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		.panel-heading {
			background-color: $gray;
			color: $text-color;
			padding: 0;
			border-radius: 0;
			overflow: hidden;
			transition: background-color 200ms;
			h2 {
				font-size: 21px;
				position: relative;
				a {
					display: block;
					padding: 25px 20px;
					position: relative;
					&:hover,
					&:focus {
						text-decoration: none;
					}
				}
				&:before {
					content: '\f0ab';
					font-family: 'fontawesome';
					line-height: 1;
					position: absolute;
					color: $gray-dark;
					left: -14px;
			    font-size: 70px;
			    top: calc(50% - 35px);
			    transition: color 200ms;
				}
			}
			&:hover {
				background-color: $gray-dark;
				h2 {
					&:before {
						color: $gray;
					}
				}
			}
		}
		.panel-body {
			border: 0;
		}
	}
}

.social-menu {
	a {
		color: #fff;
		font-size: 30px;
		margin-right: 5px;
		line-height: 1;
		&:hover {
			opacity: 0.8;
		}
	}
}

// Footer
footer {
	.footer-1 {
		background-image: url('../images/pattern.png');
		background-size: 400px;
		background-position: center center;
		background-color: $brand-primary;
		padding: 60px 0;
		.word {
			display: block;
			@extend h2;
			margin-bottom: 15px;
			margin-top: 0;
		}
		p {
			margin-left: 15px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	.footer-2 {
		padding-top: 30px;
		h3 {
			margin-top: 0;
			font-size: 22px;
		}
		img {
			max-width: 300px;
			margin-bottom: 20px;
		}
		.nav {
			li {
				a {
					padding: 0 15px;
					color: $text-color;
					line-height: 1;
					margin: 15px 0;
					border-left: 2px solid;
					border-color: transparent;
					transition: all 200ms;
					&:hover, &:focus {
						background-color: transparent;
						border-color: $brand-primary;
					}
				}
				&:first-child {
					a {
						@extend h3;
						padding-top: 0;
						padding-left: 0;
						margin-bottom: 0;
						border: 0;
					}
				}
			}
		}
		.site-icons {
			margin-top: 50px;
			color: lighten( $gray, 20% );
			font-size: 30px;
			margin-right: 5px;
			line-height: 1;
		}
		.copyrights {
			float: left;
			font-size: 14px;
			margin: 20px 0 30px;
		}
		.credit {
			float: right;
			font-size: 14px;
			margin: 20px 0 30px;
			color: lighten( $gray, 20% );
			a {
				color: lighten( $gray, 20% );
				&:hover {
					color: #fff;
				}
			}
		}
	}
}