// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #009B39;

$gray-dark: #2E3438;
$gray: #464E53;

$body-bg: $gray-dark;
$text-color: #E0E3E6;

$font-family-sans-serif:  'Open Sans',"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       'Source Serif Pro', "Times New Roman", Times, serif;

$headings-font-family:    $font-family-serif;
$headings-font-weight:		700;

$font-size-base:          16px;
$line-height-base:				1.7;

$navbar-height:                    90px;
$navbar-margin-bottom:             0;

$navbar-default-bg:                transparent;

// Navbar links
$navbar-default-link-color:                $text-color;
$navbar-default-link-hover-color:          #fff;
$navbar-default-link-active-color:         $text-color;
// $navbar-default-link-active-bg:            transparent;

// Forms
$input-bg:                       rgba(0, 0, 0, 0);
$input-color:                    $text-color;
$input-border:                   rgba(0, 0, 0, 0);

$input-border-radius:            0;

//** Border color for inputs on focus
$input-border-focus:             rgba(0, 0, 0, 0);

//** Placeholder text color
$input-color-placeholder:        $text-color;

// Buttons
$btn-font-weight:                700;

$btn-primary-color:              $text-color;


// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         0;
$btn-border-radius-large:        0;
$btn-border-radius-small:        0;